<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>rocp1_project</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.app.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessfulLoginController</display-name>
    <servlet-name>SuccessfulLoginController</servlet-name>
    <servlet-class>com.app.controller.SuccessfulLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessfulLoginController</servlet-name>
    <url-pattern>/loggedIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminController</display-name>
    <servlet-name>AdminController</servlet-name>
    <servlet-class>com.app.controller.AdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminController</servlet-name>
    <url-pattern>/admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WithDepoController</display-name>
    <servlet-name>WithDepoController</servlet-name>
    <servlet-class>com.app.controller.accounts.WithDepoController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WithDepoController</servlet-name>
    <url-pattern>/accounts/withdraw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TransferController</display-name>
    <servlet-name>TransferController</servlet-name>
    <servlet-class>com.app.controller.accounts.TransferController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferController</servlet-name>
    <url-pattern>/accounts/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.app.users.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>com.app.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountSearchController</display-name>
    <servlet-name>AccountSearchController</servlet-name>
    <servlet-class>com.app.controller.accounts.AccountSearchController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountSearchController</servlet-name>
    <url-pattern>/accounts</url-pattern>
  </servlet-mapping>
</web-app>